:root {
  --border-radius: 14px;
  --color-border: rgb(204, 214, 221);
  --image-small-size: 85px;
  --image-medium-size: 104px;
  --image-large-size: 124px;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.twitter-preview-small {
  font-size: 14px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  height: calc(var(--image-small-size) + 2px);
}

.twitter-preview-small__link-container {
  display: flex;
  height: 100%;
  text-decoration: none;
}

.twitter-preview-small__media {
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(var(--image-small-size) + 1px);
  border-right: 1px solid var(--color-border);
}

.twitter-preview-small__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: none;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.twitter-preview-small__media--image-fallback {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: #E1E8ED;
}

.twitter-preview-small__image-fallback {
  height: 100%;
  background-image: url('../../assets/icons/image-not-found.svg');
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
}

.twitter-preview-small__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  background-color: transparent;
}

.twitter-preview-small__title {
  margin-bottom: 2px;
  color: rgb(20, 23, 26);
  /* Display on 2 lines and if longer than available space, cut off with '...' */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.twitter-preview-small__description {
  display: none;
  margin-bottom: 2px;
  color: rgb(101, 119, 134);
}

.twitter-preview-small__domain {
  display: flex;
  align-items: center;
  color: rgb(101, 119, 134);
}

.twitter-preview-small__icon {
  height: 1.25em;
  font-size: 13px;
  fill: currentcolor;
}

.twitter-preview-small__hostname {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 416px) {
  .twitter-preview-small {
    height: calc(var(--image-medium-size) + 2px);
  }

  .twitter-preview-small__media {
    flex-basis: calc(var(--image-medium-size) + 1px);
  }
}

@media (min-width: 416px) and (max-width: 449px) {
  .twitter-preview-small__description {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (min-width: 450px) {
  .twitter-preview-small {
    height: calc(var(--image-large-size) + 2px);
  }

  /* Show on 1 line */
  .twitter-preview-small__title {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  /* Display on 2 lines and if longer than available space, cut off with '...' */
  .twitter-preview-small__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .twitter-preview-small__media {
    flex-basis: calc(var(--image-large-size) + 1px);
  }
}
