:root {
  --border-radius: 14px;
  --color-border: rgb(225, 232, 237);
  --image-small-size: 85px;
  --image-medium-size: 104px;
  --image-large-size: 124px;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.twitter-preview {
  font-size: 14px;
}

.twitter-preview__link-container {
  display: flex;
  height: 100%;
  transition:
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  text-decoration: none;
  cursor: pointer;
}

.twitter-preview__link-container--vertical {
  display: block;
}

.twitter-preview__link-container:hover {
  background: #F5F8FA;
  border-color: rgba(136,153,166,.5);
}

.twitter-preview__ratio  {
  padding-bottom: 52.356%;
}

.twitter-preview__fixed-ratio {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
}

.twitter-preview__fixed-ratio-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: inherit;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.twitter-preview__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: none;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.twitter-preview__media {
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(var(--image-small-size) + 1px);
  border-right: 1px solid var(--color-border);
}

.twitter-preview__media--image-fallback {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: #E1E8ED;
}

.twitter-preview__image-fallback {
  height: 100%;
  background-image: url('../../assets/icons/image-not-found.svg');
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
}

.twitter-preview__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  background-color: transparent;
}

.twitter-preview__title {
  margin-bottom: 2px;
  color: rgb(20, 23, 26);
  /* Display on 2 lines and if longer than available space, cut off with '...' */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.twitter-preview__description {
  display: none;
  margin-bottom: 2px;
  color: rgb(101, 119, 134);
}

.twitter-preview__domain {
  display: flex;
  align-items: center;
  color: rgb(101, 119, 134);
}

.twitter-preview__icon {
  height: 1.25em;
  font-size: 13px;
  fill: currentcolor;
}

.twitter-preview__hostname {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 416px) {
  .twitter-preview.is-small {
    height: calc(var(--image-medium-size) + 2px);
  }

  .twitter-preview__media {
    flex-basis: calc(var(--image-medium-size) + 1px);
  }
}

@media (min-width: 416px) and (max-width: 449px) {
  .twitter-preview__description {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (min-width: 450px) {
  .twitter-preview.is-small {
    height: calc(var(--image-large-size) + 2px);
  }

  .twitter-preview__media {
    flex-basis: calc(var(--image-large-size) + 1px);
  }

  /* Show on 1 line */
  .twitter-preview__title {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  /* Display on 2 lines and if longer than available space, cut off with '...' */
  .twitter-preview__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
