:root {
  --color-grey-light: #ededed;
  --color-grey-medium: #888;
  --color-grey-dark: #555;
  --color-action: #3d71ba;
  --color-body: #33393d;
}

html {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--color-body);
}

body {
  height: 100%;
}

a {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: var(--color-action);
  text-decoration: underline;
}

.panel {
  margin-left: 220px;
}

.panel__twitter-preview {
  max-width: 521px;
  margin: 0;
  padding: 0;
  border: none;
}

.section {
  padding: 16px;
  border-bottom: 1px solid var(--color-grey-light);
}

.section:last-child {
  border-bottom: none;
}

.heading {
  margin-bottom: 16px;
}

.heading-default {
  font-size: 1rem;
}

.heading-small {
  font-size: .875rem;
  color: var(--color-grey-dark);
}

.heading-smaller {
  font-size: .8125rem;
}

.properties-list {
  list-style: none;
  width: 100%;
}

.properties-list__item {
  margin-bottom: 20px;
}

.properties-list__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: .8125rem;
  color: var(--color-grey-medium);
}

.properties-list__content {
  font-size: .8125rem;
  font-weight: bold;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 190px;
  font-weight: bold;
  font-size: .8125rem;
  border-right: 1px solid #d0d0d0;
  background-color: #f3f3f3;
  overflow: auto;
}

.sidebar-list {
  padding: 10px;
  list-style: none;
}

.sidebar-list .sidebar-list {
  margin-left: 10px;
  padding: 0 8px;
}

.sidebar-list__item:not(:last-child) {
  margin-bottom: 5px;
}

.sidebar__button {
  all: unset;
  cursor: pointer;
}

@media (min-width: 500px) {
  .properties-list__item {
    display: flex;
  }

  .properties-list__title {
    width: 150px;
    padding-right: 16px;
    text-align: right;
  }

  .properties-list__content {
    width: 500px;
  }
}
