@import "../../@shared/css/defaults.css";
@import "../../@shared/css/google.css";

.scroll-container__inner {
  min-width: 40rem;
}

/* Article */
.article {
  background-color: var(--color-white);
  border-radius: 0.5rem;
  border: 1px solid var(--color-iron);
  cursor: pointer;
  display: block;
  height: 283px;
  overflow: hidden;
}

.article--no-hover {
  cursor: default;
}

.article--variant {
  height: auto;
  padding: 1rem;
}

.article--variant:hover .article__headline {
  color: var(--color-royal-blue);
}

.article:not(.article--variant):hover .article__headline,
.article:not(.article--variant):hover .article__publisher-name {
  text-decoration: underline;
}

.article__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.article__image {
  background-color: var(--color-athens-gray);
  display: block;
  height: 119px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.article--variant .article__image {
  border-radius: 0.5rem;
  height: 112px;
  margin-left: 1rem;
  width: 112px;
}

.article__content {
  padding: 1rem 1rem 0;
}

.article--variant .article__content {
  padding: 0;
}

.article__headline {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  color: var(--color-ultramarine);
  display: -webkit-box;
  font-size: 1rem;
  height: 80px;
  line-height: 1.25em;
  overflow: hidden;
}

.article--variant .article__headline {
  -webkit-line-clamp: 2;
  color: var(--color-shark);
  font-size: 18px;
  height: auto;
  max-height: 48px;
}

.article__description {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: var(--color-rolling-stone);
  display: -webkit-box;
  font-size: 14px;
  line-height: 1.43em;
  margin: 0.25rem 0;
  max-height: 4.28em;
  overflow: hidden;
}

.article__publisher {
  color: var(--color-rolling-stone);
  display: flex;
  font-size: 12px;
  line-height: 1.33em;
  margin-bottom: 0.5rem;
}

.article__publisher-logo {
  height: 1rem;
  margin-right: 0.5rem;
  width: auto;
}

.article__publisher-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article__footer {
  padding: 12px 1rem 0;
}

.article--variant .article__footer {
  padding: 0;
}

.article__time {
  color: var(--color-rolling-stone);
  font-size: 12px;
  line-height: 1.33em;
}

/* Article Carrousel */
.article-carrousel {
  display: flex;
  list-style: none;
  margin-top: 1rem;
}

.article-carrousel__item {
  margin-right: 0.5rem;
  width: 13.125rem;
}

.article-carrousel__item:last-of-type {
  margin-right: 0;
  position: relative;
}

.article-carrousel__item:last-of-type::after {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04),
    0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  color: var(--color-rolling-stone);
  content: "›";
  font-size: 1.5rem;
  height: 38px;
  line-height: 36px;
  position: absolute;
  right: -19px;
  text-align: center;
  top: calc(50% - 19px);
  width: 38px;
}

/* Skeleton UI */
.article__skeleton-headline,
.article__skeleton-image,
.article__skeleton-publisher,
.article__skeleton-time {
  background-color: var(--color-gallery);
}

.article__skeleton-image {
  border-bottom: 1px solid var(--color-iron);
  height: 119px;
}

.article__skeleton-headline,
.article__skeleton-publisher,
.article__skeleton-time {
  border-radius: 3px;
  border: 1px solid var(--color-iron);
}

.article__skeleton-publisher {
  height: 20px;
  margin-bottom: 0.25rem;
}
.article__skeleton-headline {
  height: 83px;
  margin-bottom: 0.25rem;
}
.article__skeleton-time {
  height: 20px;
}
