@import "variables.css";
@import "css-defaults.css";

html {
  height: 100%;
  color: var(--color-body);
}

body {
  height: 100%;
  font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

p {
  margin-bottom: 10px;
}

a {
  font-weight: normal;
  color: var(--color-action);
  text-decoration: underline;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.visually-hidden {
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
}
