@import "../../@shared/css/defaults.css";

:root {
  --border-radius: 14px;
  --color-border: #E1E8ED;
  --image-small-size: 85px;
  --image-medium-size: 104px;
  --image-large-size: 124px;
  --base-color: #292F33;
  --muted-color: #8899A6;
  --bg-color-hover: #F5F8FA;
  --background-color: #e8eaee;
  --lh: 16px;
}

.-theme-with-dark-background {
  --color-border: rgb(56, 68, 77);
  --base-color: #fff;
  --bg-color-hover: rgba(255, 255, 255, 0.03);
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.facebook-preview {
  font-size: 14px;
  height: 0;
}

.facebook-preview__link-container {
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}

.facebook-preview__link-container--vertical {
  display: block;
  height: auto;
}

.facebook-preview__ratio {
  padding-bottom: 52.222%;
}

.facebook-preview__fixed-ratio {
  height: 0;
  overflow: hidden;
}

.facebook-preview__fixed-ratio-content {
  width: 100%;
}

.facebook-preview__fixed-ratio-content::before {
  content: '';
  display: block;
  width: 100%;
  height: 289px;
  background-color: var(--background-color);
}

.facebook-preview__wrapper {
  background-color: #e8eaee;
  padding: 10px 12px;
}

.facebook-preview__title {
  line-height: 16px;
  color: var(--base-color);
  font-weight: bold;
}

.facebook-preview__description {
  color: var(--base-color);
  font-size: 12px;
  line-height: 16px;
}

.facebook-preview__hostname {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
}

.facebook-preview__content {
  max-height: calc(var(--lh) * 2);
  overflow: hidden;
}

.facebook-preview__small .facebook-preview__wrapper {
  height: 111px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.facebook-preview__small .facebook-preview__ratio {
  padding-bottom: 0;
}

.facebook-preview__small .facebook-preview__fixed-ratio {
  width: 111px;
  height: 111px;
  float: left;
}

.facebook-preview__interaction {
  display: inline-block;
  background-image: url('./assets/facebook-emoji.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 60px;
}

.facebook-preview__interaction-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px 12px;
  color: #606770;
}

.facebook-preview__interaction-stats {
  display: inline-flex;
}

.facebook-preview__interaction-stats p {
  margin-left: 6px;
  line-height: 20px;
}

.-theme-with-dark-background {
  color: var(--base-color);
}
