@import "../../@shared/css/defaults.css";
@import "../../@shared/css/google.css";

/* Default */
.google-default {
  max-width: 37.5rem;
}

.google-default__link {
  text-decoration: none;
}

.google-default__link:hover .google-default__title {
  text-decoration: underline;
}

.google-default__url {
  color: var(--color-shark);
  display: flex;
  font-size: 0.875rem;
  line-height: 1.3;
  list-style: none;
  margin: 0;
}

.google-default--dark .google-default__url {
  color: var(--color-silver-sand);
}

.google-default__url-segment {
  margin-right: 0.2rem;
}

.google-default__url-segment:not(:first-of-type) {
  color: var(--color-shuttle-gray);
}

.google-default__url-segment:not(:last-of-type)::after {
  color: var(--color-shuttle-gray);
  content: " ›";
}

.google-default--dark .google-default__url-segment:not(:first-of-type),
.google-default--dark .google-default__url-segment:not(:last-of-type)::after {
  color: var(--color-manatee);
}

.google-default__url-segment:last-of-type {
  position: relative;
}

.google-default__url-segment:last-of-type::after {
  border-color: var(--color-rolling-stone) transparent;
  border-style: solid;
  border-width: 0.313rem 0.25rem 0;
  content: "";
  height: 0;
  margin-top: -0.125rem;
  position: absolute;
  right: -0.938rem;
  top: 50%;
  width: 0;
}

.google-default__title,
.google-default__description {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.google-default__title {
  -webkit-line-clamp: 1;
  color: var(--color-ultramarine);
  font-size: 1.25rem;
  line-height: 1.3;
  margin: 0.25rem 0 0.188rem;
  max-width: 34.375rem;
}

.google-default--dark .google-default__title {
  color: var(--color-cornflower-blue);
}

.google-default__description {
  -webkit-line-clamp: 2;
  color: var(--color-abbey);
  font-size: 0.875rem;
  line-height: 1.58;
  word-wrap: break-word;
}

.google-default--dark .google-default__description {
  color: var(--color-silver-sand);
}
