@import "../../@shared/css/defaults.css";
@import "../../@shared/css/google.css";

.scroll-container__inner {
  padding: 0;
}

/* Course */
.google-course__link {
  text-decoration: none;
}

.google-course__url {
  -webkit-line-clamp: 1;
  color: var(--color-shark);
  font-size: 0.875rem;
  line-height: 1.3;
  list-style: none;
  margin: 0;
}

.google-course--dark .google-course__url {
  color: var(--color-silver-sand);
}

.google-course__url-segment {
  display: inline-block;
  height: 1rem;
  line-height: 1;
  margin-right: 0.2rem;
  vertical-align: middle;
}

.google-course__url-segment--favicon {
  aspect-ratio: auto 16 / 16;
  display: inline-block;
  height: 1rem;
  margin-right: 0.75rem;
  vertical-align: middle;
  width: 1rem;
}

.google-course__url-segment:not(:first-of-type) {
  color: var(--color-shuttle-gray);
}

.google-course--mobile .google-course__url-segment:nth-of-type(2) {
  color: inherit;
}

.google-course__url-segment:not(:last-of-type)::after {
  color: var(--color-shuttle-gray);
  content: " ›";
}

.google-course--dark .google-course__url-segment:not(:first-of-type),
.google-course--dark .google-course__url-segment:not(:last-of-type)::after {
  color: var(--color-manatee);
}

.google-course--dark.google-course--mobile .google-course__url-segment:nth-of-type(2) {
  color: inherit;
}

.google-course__url-segment:last-of-type {
  position: relative;
}

.google-course__url-segment:last-of-type::after {
  border-color: var(--color-rolling-stone) transparent;
  border-style: solid;
  border-width: 0.313rem 0.25rem 0;
  content: "";
  height: 0;
  margin-top: -0.125rem;
  position: absolute;
  right: -0.938rem;
  top: 50%;
  width: 0;
}

.google-course__url,
.google-course__title {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.google-course__title {
  -webkit-line-clamp: 1;
  color: var(--color-ultramarine);
  font-size: 1.25rem;
  line-height: 1.3;
  margin: 0.25rem 0 0.188rem;
  max-width: 34.375rem;
}

.google-course--dark .google-course__title {
  color: var(--color-cornflower-blue);
}

.google-course--mobile .google-course__title {
  -webkit-line-clamp: 2;
}

.google-course__courses {
  color: var(--color-mine-shaft);
  font-size: 0.75rem;
  margin-top: 0.75rem;
}

.google-course--dark .google-course__courses {
  color: var(--color-silver-sand);
}

.google-course__course {
  border-bottom: 1px solid var(--color-iron);
  padding: 0.75rem 0;
}

.google-course--dark .google-course__course {
  border-bottom-color: var(--color-manatee);
}

.google-course__course:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.google-course__course-link {
  align-items: center;
  color: inherit;
  display: flex;
  text-decoration: none;
}

.google-course__course-name,
.google-course__course-description,
.google-course__course-provider-name {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
}

.google-course__course-name {
  font-size: 0.875rem;
  line-height: 1rem;
  margin-bottom: 0.375rem;
}

.google-course__course-provider-name {
  color: var(--color-rolling-stone);
  margin-top: 0.125rem;
}

.google-course--dark .google-course__course-provider-name {
  color: var(--color-manatee);
}

.google-course__course-arrow {
  display: block;
  fill: var(--color-rolling-stone);
  flex-shrink: 0;
  height: 1.5rem;
  margin-left: 0.5rem;
  width: 1.5rem;
}

.google-course--dark .google-course__course-arrow {
  fill: var(--color-manatee);
}

/* Skeleton UI */
.google-course__skeleton-container {
  flex-grow: 1;
}

.google-course__skeleton-text {
  background-color: var(--color-gallery);
  border-radius: 3px;
  border: 1px solid var(--color-iron);
  height: 1rem;
  width: 100%;
}

.google-course--dark .google-course__skeleton-text {
  background-color: var(--color-manatee);
  border-color: var(--color-silver-sand);
}
