<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google - Breadcrumb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="google-breadcrumb.css">
  </head>

  <body>
    <div id="app">
      <h1 class="iframe-heading" :class="{ 'iframe-heading--dark-mode': isDarkMode }">Breadcrumb</h1>
      <div v-if="breadcrumbSegments.length > 1" class="scroll-container">
        <div class="scroll-container__inner">
          <div class="google-breadcrumb" :class="{
            'google-breadcrumb--dark': isDarkMode,
            'google-breadcrumb--mobile': isMobile
          }">
            <a class="google-breadcrumb__link" rel="noopener" target="_blank" :href="url">
              <ul class="google-breadcrumb__url">
                <li v-if="favicon && isMobile" class="google-breadcrumb__url-segment--favicon">
                  <img :src="favicon" alt="">
                </li>
                <li
                  class="google-breadcrumb__url-segment"
                  v-for="(segment, index) in breadcrumbSegments"
                  :key="index"
                >
                  {{ segment }}
                </li>
              </ul>
              <p class="google-breadcrumb__title">{{ title }}</p>
            </a>
            <p class="google-breadcrumb__description" v-html="description">
          </div>
        </div>
      </div>

      <div v-else class="warning-message" :class="{
        'warning-message--dark-mode': isDarkMode
      }">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100">
          <path d="M98 85.6L53.9 9.7c-.5-1.4-2.4-2.4-3.8-2.4s-3.3.9-4.3 2.4L1.7 85.6c-1.4 3.3.9 7.1 4.3 7.1h87.7c3.8 0 6.2-3.8 4.3-7.1zm-87.7 0l39.8-68.8L90 85.6H10.3z"/>
          <path d="M50 16.8L10.2 85.6h79.7L50 16.8zm4.7 66.4h-9.5v-9.5h9.5v9.5zm-9.4-19V35.8h9.5v28.5h-9.5z"/>
        </svg>
        <p>This page does not contain the necessary metadata to create a preview.</p>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3.0.5/dist/vue.global.prod.js"></script>
    <script type="module" src="google-breadcrumb.js"></script>
  </body>
</html>
