@import "../../@shared/css/defaults.css";
@import "../../@shared/css/google.css";

:root {
  --body-color: #70757a;
  --border-color: #dfe1e5;
  --skeleton-color: #eeeeee;
}

/* Article */
.article {
  border-radius: 0.5rem;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  cursor: pointer;
  display: block;
  max-width: 652px;
  min-width: 320px;
  overflow: hidden;
  padding: 1rem;
}

.article--no-hover {
  cursor: default;
}

.article__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.article__content {
  flex-grow: 1;
}

.article__image {
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  display: block;
  height: 92px;
  margin-left: 1rem;
  object-fit: cover;
  object-position: center;
  width: 92px;
}

.article__headline {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #202124;
  display: -webkit-box;
  font-size: 1rem;
  height: auto;
  line-height: 20px;
  margin-bottom: 0.25rem;
  overflow: hidden;
}

.article__publisher {
  color: var(--body-color);
  display: flex;
  font-size: 12px;
  line-height: 1.33em;
  margin-bottom: 0.5rem;
}

.article__publisher-logo {
  height: 1rem;
  margin-right: 0.5rem;
  width: auto;
}

.article__publisher-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article__time {
  color: var(--body-color);
  font-size: 12px;
  line-height: 1rem;
}

/* Article Carrousel */
.article-carrousel {
  border-radius: 0.5rem;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  list-style: none;
  margin-top: 1rem;
  max-width: 652px;
  min-width: 320px;
}

.article-carrousel .article {
  border-radius: 0;
  box-shadow: none;
}

.article-carrousel .article__wrapper {
  flex-direction: row;
  justify-content: flex-start;
}

.article-carrousel .article__image {
  margin-left: 0;
  margin-right: 1rem;
}

.article-carrousel__title {
  border-bottom: 1px solid var(--border-color);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25;
  margin: 0;
  padding: 1rem;
}

.article-carrousel__item {
  border-bottom: 1px solid var(--border-color);
}

.article-carrousel__item:last-of-type {
  border-bottom: none;
}

/* Skeleton UI */
.article__skeleton-headline,
.article__skeleton-image,
.article__skeleton-publisher,
.article__skeleton-time {
  background-color: var(--skeleton-color);
  border: 1px solid var(--border-color);
}

.article__skeleton-headline,
.article__skeleton-publisher,
.article__skeleton-time {
  border-radius: 3px;
}

.article__skeleton-publisher {
  height: 20px;
  margin-bottom: 0.25rem;
}

.article__skeleton-headline {
  height: 44px;
  margin-bottom: 0.25rem;
}

.article__skeleton-time {
  height: 20px;
}
