<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Whatsapp preview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="whatsapp.css">
</head>

<body>
  <div id="app">
    <div class="whatsapp-preview">
      <a
        rel="noopener"
        target="_blank"
        :href="url"
      >
        <div class="whatsapp-top">
          <div>
            <div class="whatsapp-preview__content">
              <div
                v-if="title && title !== 'undefined'"
                class="whatsapp-preview__title"
              >
                {{ title }}
              </div>
              <div class="whatsapp-preview__description">
                {{ description }}
              </div>
            </div>
            <div class="whatsapp-preview__url">
              www.{{ hostname }}
            </div>
          </div>
          <div
            v-if="image"
            class="whatsapp-preview__media"
          >
            <img :src="image" class="whatsapp-preview__image">
          </div>
        </div>

        <div class="whatsapp-preview__domain">
          <div class="whatsapp-preview__hostname">
            {{ url }}
            <span class="whatsapp-preview__timewrapper">
              <time class="whatsapp-preview__time">{{ currentTime }}</time>
              <span class="whatsapp-preview__checkmark">
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#4FC3F7"/>
                </svg>
              <span>
            </span>
          </div>
        </div>

      </a>
    </div>
  </div>

  <script src="../../vue.global.prod.js"></script>
  <script type="module" src="whatsapp.js"></script>
</body>
</html>
