.app-button {
  display: inline-block;
  border: 0;
  background: none;
  font-family: var(--font-default);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5625;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.app-button--primary {
  padding: .375rem 1.125rem;
  transition: 200ms transform ease-in-out;
  border-radius: 3px;
  background-color: var(--color-blue);
  color: var(--color-white);
}
