body {
  color: var(--color-black);
  font-family: var(--font-default);
}

.warning-message {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.warning-message .icon {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
  fill: var(--color-orange);
}
