body {
  color: var(--color-black);
  font-family: var(--font-default);
}

dl dt,
dl dd {
  display: inline-block;
  margin-bottom: 1.5rem;
  line-height: 1.4em;
}

dl dt {
  justify-content: flex-end;
  display: inline-flex;
  width: 150px;
  vertical-align: top;
  color: var(--color-blue);
  font-weight: 500;
}

dl dd {
  margin-left: 1rem;
}
