/* Style overwrites for the shared components used in the web-app */

.app .panel-section .heading {
  margin-bottom: 24px;
  color: var(--color-blue);
  font-weight: bold;
}

.app .properties-list .properties-item {
  margin-bottom: 26px;
}

.app .properties-list .properties-item__terms {
  flex: 0 0 40%;
}

.app .properties-list .properties-item__value {
  flex: 1 1 auto;
}

.app .properties-item__image {
  margin-bottom: 0;
}

.app .properties-item__value--image a {
  font-size: 12px;
}

.app .properties-item__icon {
  top: -2px;
  width: 20px;
  height: 20px;
}

/* tooltip */
.app .tooltip {
  max-width: calc(80vw - 20px - var(--sidebar-width));
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .32);
}

.app .tooltip .tooltip-inner {
  padding: 0.625rem 0.75rem 0.5625rem;
  border: 1px solid var(--color-blue);
  background-color: var(--color-white);
  color: var(--color-black);
  line-height: 1.2;
}

.app .tooltip .tooltip-arrow {
  z-index: 1;
  border: 5px solid var(--color-blue);
  box-shadow: none;
}

.app .tooltip .tooltip-arrow::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid var(--color-white);
}

.app .tooltip[x-placement^="top"] .tooltip-arrow::before {
  top: -6px;
  left: -6px;
}

.app .tooltip[x-placement^="bottom"] .tooltip-arrow::before {
  top: -4px;
  left: -4px;
}

/* tab selector */
.tab-selector input:checked + .tab-selector__tab-button {
  border-bottom: 2px solid var(--color-blue);
  color: var(--color-blue);
}
