/* Style overwrites for the shared components used in the web-app */

.panel-section .heading {
  margin-bottom: 24px;
  font-weight: bold;
  color: var(--color-blue);
}

.properties-list .properties-item {
  margin-bottom: 26px;
}

.properties-item__image {
  margin-bottom: 0;
}

.properties-item__value--image a {
  font-size: 12px;
}

.properties-item__icon {
  width: 20px;
  height: 20px;
  top: -2px;
}

/* tooltip */
.tooltip {
  box-shadow: none;
}

.tooltip .tooltip-inner {
  background: var(--color-gray);
  color: var(--color-black);
}

.tooltip .tooltip-arrow {
  border: 5px solid var(--color-gray);
  box-shadow: none;
}

/* tab selector */
.tab-selector input:checked + .tab-selector__tab__button {
  border-bottom: 2px solid #1a73e8;
}
