:root {
  /* colors */
  --color-orange: #ffa500;
  --color-yellow: #ffe400;
  --paper: #fffed9;
  --color-blue: #0000ff;
  --color-blue-active: #0005be;
  --color-black: #141414;
  --color-gray: #c0c0c0;
  --color-light-gray: #eaeaea;
  --color-white: #ffffff;

  --divider-color: #d0d0d0;

  /* fonts */
  --font-default: 'apercu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Verdana, sans-serif;

  --header-height: 70px;
  --sidebar-width: 14rem;

  --label-color: #888888;
  --value-color: #555555;
  --bg-color: var(--color-light-gray);

  /* sizes */
  --preview-width: 520px;
}

@media (min-width: 600px) {
  :root {
    --sidebar-width: 17rem;
  }
}
