:root {
  /* colors */
  --color-orange: #ffa500;
  --color-yellow: #ffe400;
  --paper: #fffed9;
  --color-blue: #0000ff;
  --color-black: #141414;
  --color-gray: #c0c0c0;
  --color-white: #ffffff;

  --divider-color: #d0d0d0;

  /* fonts */
  --font-default: 'apercu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Verdana, sans-serif;

  --header-height: 70px;
  --sidebar-width: 17rem;

  --label-color: #5f5f5f;
}
