
button,
.button {
  background: var(--html-blue);
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  margin-top: 20px;
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background: var(--active-blue);
  color: var(--white);
}

.button--secondary {
  background: var(--brand-yellow);
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  margin-top: 20px;
  color: #484832;
  font-weight: bold;
}

.button--secondary:hover,
.button--secondary:focus {
  background: var(--active-yellow);
  color: #484832;
}
