@font-face {
  font-family: 'apercu';
  font-weight: 400;
  src: url('../assets/fonts/apercu-regular.woff2') format('woff2'),
    url('../assets/fonts/apercu-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'apercu';
  font-weight: 700;
  src: url('../assets/fonts/apercu-bold.woff2') format('woff2'),
    url('../assets/fonts/apercu-bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'apercu';
  font-style: italic;
  src: url('../assets/fonts/apercu-italic.woff2') format('woff2'),
    url('../assets/fonts/apercu-italic.woff') format('woff');
  font-display: swap;
}
