input {
  background: var(--white);
  border: 1px solid transparent;
  color: var(--black);
  border-radius: var(--border-radius);
  padding: var(--spacing-small);
}

input:focus,
input:hover {
  outline: none;
  border-color: var(--active-blue);
}

label {
  font-size: 0.875rem;
  font-weight: normal;
  margin: var(--spacing-tiny) 0;
  text-transform: lowercase;
}
