input {
  background: var(--white);
  border: 1px solid var(--very-dim);
  color: var(--black);
  border-radius: 4px;
  padding: 16px 20px;
}

input:focus,
input:hover {
  outline: none;
  border-color: var(--dim);
}

label {
  font-size: 14px;
  font-weight: normal;
  margin: 8px 0;
  text-transform: lowercase;
}
