@import "variables.css";
@import "fonts.css";
@import "typography.css";
@import "buttons.css";
@import "form.css";
@import "list.css";

:root {
  --content-width: 640px
}

body {
  background: var(--white);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.app-header {
  height: 50px;
  position: relative;
  background: var(--paper);
}

.app-header::after {
  position: absolute;
  left: 0;
  width: 100%;
  content: "";
  display: block;
  bottom: 0;
  height: 1px;
  background-color: var(--black);
  opacity: .08;
}

.app-header__content {
  max-width: 1010px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--spacing-small);
  height: 100%;
  justify-content: space-between;
}

.app-header__title {
  display: flex;
  align-items: center;
}

.app-header__logo {
  width: 27px;
  height: 27px;
  margin-right: 12px;
}

.app-header__logo img {
  max-width: 100%;
  max-height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.app-header__product-title {
  color: var(--html-blue);
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
}

.app-header__github-link img {
  display: block;
  width: 27px;
  height: 27px;
}

.hero {
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  min-height: 450px;
  position: relative;
  background: var(--paper)
}

section:not(:last-of-type) {
  margin-bottom: var(--spacing-big);
}

.section__button {
  display: inline-block;
  margin-top: var(--spacing-medium);
}

.content {
  max-width: var(--content-width);
  padding: 0 var(--spacing-small) 50px;
  margin: 0 auto;
}

.header__product-subtitle {
  font-size: 1rem;
  font-weight: normal;
}

.header__product-tagline {
  font-size: 3rem;
  padding: 0 var(--spacing-medium) var(--spacing-medium);
  max-width: var(--content-width);
  color: var(--html-blue);
}

.header__product-support {
  justify-content: center;
}

.header__product-support li {
  padding: 8px;
}

.form-section {
  margin-top: calc(-1 * var(--spacing-big));
}

.header__form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background: var(--html-blue);
  color: white;
  padding: 50px;
  position: relative;
  font-size: 18px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: var(--spacing-medium);
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
}

.footer {
  padding: 1rem 0;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: bold;
}

.made-with-love a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.made-with-love-heart {
  color: var(--html-blue);
  transition: transform 200ms ease-in-out;
  animation: heartBeat 2s;
  display: inline-block;
  animation-iteration-count: infinite;
}

@keyframes heartBeat {
  0%, 100% {transform: scale(1);}
  25% {transform: scale(.97);}
  35%, 55% {transform: scale(.9);}
  45%, 65% {transform: scale(1.1);}
  75% {transform: scale(1.03);}
}
