:root {
  --brand-yellow: #ffe400;
  --active-yellow: #e9d100;
  --html-blue: #00f;
  --active-blue: #0005be;
  --paper: #fffed9;
  --black: #222;
  --white: #fff;
  --font-sans: "apercu",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,Verdana,sans-serif;
  --spacing-tiny: 5px;
  --spacing-small: 15px;
  --spacing-medium: 25px;
  --spacing-big: 75px;
  --border-radius: 3px;
  --z-index-low: 1;
  --z-index-high: 2;
  --z-index-overlay: 3;
}
