<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Facebook preview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="facebook.css">
</head>

<body>
  <div id="app">
    <div class="facebook-preview" :class="{ 'is-desktop': style === 'desktop' }">
      <a
        rel="noopener"
        target="_blank"
        :href="url"
        class="facebook-preview__link-container"
        :class="{ 'facebook-preview__small': !imageIsBig }"
      >
        <!-- Image -->
        <div
          v-if="imageSpecified"
          class="facebook-preview__fixed-ratio"
          :class="{ 'facebook-preview__media--image-fallback': !image || image === 'undefined'}"
        >
          <img
            v-if="image && image !== 'undefined'"
            :src="image" class="facebook-preview__fixed-ratio-content"
          />
        </div>

        <!-- Preview -->
        <div class="facebook-preview__wrapper">
          <div class="facebook-preview__hostname">{{ hostname }}</div>
          <div class="facebook-preview__content">
            <div class="facebook-preview__title">
              {{ title ? title : hostname }}
            </div>
            <div
              v-if="description && description !== 'null'"
              class="facebook-preview__description"
            >
              {{ description }}
            </div>
          </div>
        </div>
      </a>

      <!-- Interaction -->
      <div
        class="facebook-preview__interaction-wrapper"
        :class="{ '-theme-with-dark-background': dark }"
      >
        <div class="facebook-preview__interaction-stats">
          <i class="facebook-preview__interaction"></i>
          <p>{{ interaction }}</p>
        </div>
        <div class="facebook-preview__interaction-stats">
          <p>{{ comments }} comments</p>
          <p>{{ shares }} shares</p>
        </div>
      </div>

    </div>
  </div>

  <script src="https://unpkg.com/vue@3.0.5/dist/vue.global.prod.js"></script>
  <script type="module" src="facebook.js"></script>
</body>
</html>
