@import "../../@shared/css/defaults.css";

:root {
  --color-border: #E1E8ED;
  --image-height: 111px;
  --base-color: #292F33;
  --bg-color-hover: #F5F8FA;
  --background-color: #e8eaee;
  --lh: 16px;
}

.is-desktop {
  --image-height: 148px;
  --lh: 20px;
}

.-theme-with-dark-background {
  --color-border: rgb(56, 68, 77);
  --base-color: #fff;
  --bg-color-hover: rgba(255, 255, 255, 0.03);
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.facebook-preview {
  font-size: 14px;
  height: 0;
}

.is-desktop.facebook-preview {
  width: 500px;
}

.facebook-preview__link-container {
  display: block;
  height: auto;
  text-decoration: none;
  cursor: pointer;
}

.facebook-preview__fixed-ratio {
  padding-bottom: 52.222%;
  height: 0;
  overflow: hidden;
}

.is-desktop .facebook-preview__fixed-ratio {
  display: block;
  padding-bottom: 52.356%;
  position: relative;
}

.facebook-preview__media--image-fallback {
  background-color: var(--background-color);
  background-image: url('../@assets/facebook-img-fallback.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.facebook-preview__fixed-ratio-content {
  width: 100%;
}

.is-desktop .facebook-preview__fixed-ratio-content {
  position: absolute;
  top: 0;
  left: 0;
  max-width: inherit;
  object-fit: cover;
}

.facebook-preview__wrapper {
  background-color: #e8eaee;
  padding: 10px 12px;
}

.is-desktop .facebook-preview__wrapper {
  background-color: #f2f3f5;
  padding: 8px 12px;
}

.facebook-preview__title {
  line-height: var(--lh);
  color: var(--base-color);
  font-weight: bold;
}

.is-desktop .facebook-preview__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
}

.facebook-preview__description {
  color: var(--base-color);
  font-size: 12px;
  line-height: var(--lh);
}

.is-desktop .facebook-preview__description {
  display: -webkit-box;
  font-size: 13px;
  color: #606770;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.facebook-preview__hostname {
  color: #606770;
  text-transform: uppercase;
  font-size: 12px;
  line-height: var(--lh);
}

.is-desktop .facebook-preview__hostname {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.facebook-preview__content {
  max-height: calc(var(--lh) * 2);
  overflow: hidden;
}

.facebook-preview__small .facebook-preview__wrapper {
  height: var(--image-height);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.facebook-preview__small .facebook-preview__fixed-ratio {
  width: var(--image-height);
  height: var(--image-height);
  padding-bottom: 0;
  float: left;
}

.is-desktop .facebook-preview__small .facebook-preview__fixed-ratio-content {
  min-width: var(--image-height);
  min-height: var(--image-height);
  height: var(--image-height);
  float: left;
}

.is-desktop .facebook-preview__small .facebook-preview__content {
  max-height: calc(var(--lh) * 5);
}

.is-desktop .facebook-preview__small .facebook-preview__description {
  color: #606770;
  font-size: 13px;
  line-height: var(--lh);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-desktop .facebook-preview__small .facebook-preview__title {
  display: block;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}

.facebook-preview__interaction {
  display: inline-block;
  background-image: url('../@assets/facebook-emoji.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 60px;
}

.facebook-preview__interaction-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px 12px;
  color: #606770;
}

.facebook-preview__interaction-stats {
  display: inline-flex;
}

.facebook-preview__interaction-stats p {
  margin-left: 6px;
  line-height: 20px;
}

.-theme-with-dark-background {
  color: var(--base-color);
}
